<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<head th:replace="fragments/head1 :: head"></head>
<body>
<nav th:replace="fragments/head1.html :: navbar ('Products')"/>

<div class="container mt-5">
  <h1 th:text="${'Definition of: ' + product.title}"></h1>
  <div class="row row-cols-auto mt-5 mb-5">
    <div class="card-body">
      <img th:src="*{'data:image/jpeg;base64,'+{product.imageLink}}" class="card-title"></img>
      <p th:text="${'Product ID is: ' + product.id}" class="card-title">VALUE</p>
      <p th:text="${'Product name is: ' + product.title}" class="card-title">VALUE</p>
      <p th:text="${'Product price is: ' +product.cost}" class="card-title">VALUE</p>

      <a  th:href="@{/product/{id}(id=${product.getId()})}" sec:authorize="hasAnyRole('ADMIN')" class="btn btn-primary mb-2">Edit</a>
      <br><br>
      <a  th:href="@{/product/{id}/delete(id=${product.getId()})}" sec:authorize="hasAnyRole('ADMIN')" class="far fa-trash-alt">Delete</a>
    </div>
  </div>
</div>
</body>
</html>